html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.container--large {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}
.container--small {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.main {
	flex-grow: 1;
}
.title {
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	color: $title;
}
.breadcrumbs {
	display: flex;
	justify-content: center;
	&__list {
		display: flex;
	}

	&__item {
		@extend %rubik-400;
		font-size: 14px;
		line-height: 24px;
		color: #848a91;
		padding-right: 20px;
		position: relative;
		&::after{
			content: '/';
			position: absolute;
			top: 0;
			right: 8px;
		}
		&:last-child{
			padding-right: 0;
			&::after {
				display: none;
			}
		}
	}

	&__link {
		color: inherit;
	}
}