html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.container--large {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}
.container--small {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.main {
	flex-grow: 1;
}
.title {
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	color: $title;
}