$accent-light: #436372;
$accent-dark: #243f4d;
$light-blue: #a3bbc8;
$title: #1a1a1a;

%dmsans-400{
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
}
%dmsans-500{
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
}
%dmsans-700{
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
}

%poppins-700{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

%rubik-400{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}
%rubik-500{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}