@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
	padding: 50px 0 55px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {
	display: flex;
	align-items: center;

	&__img {
		display: inline-block;
	}

	&__text {
		@extend %rubik-500;
		font-size: 36px;
		line-height: 58px;
		color: $accent-dark;
		margin-left: 12px;
	}
}
.menu {

	&__list {
		display: flex;
	}

	&__item + .menu__item{
		margin-left: 34px;
	}

	&__link {
		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: $accent-dark;
	}
}
.user-nav {
	display: flex;

	&__search {
		width: 52px;
		height: 52px;
		background-color: #edf1f4;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 21px;
	}

	&__group {
		width: 178px;
		height: 51px;
		padding: 22px 42px 12px;
		background-color: #fcd7b6;
		border-radius: 26px;
		display: flex;
		justify-content: space-between;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 32px;
			opacity: 0.4;
			background-color: #ffffff;
			top: 11px;
			left: 50%;
		}
	}

	&__liked {
		position: relative;
	}

	&__num {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		@extend %dmsans-400;
		font-size: 10px;
		line-height: 27px;
		color: $accent-dark;
		position: absolute;
		top: -7px;
		right: -10px;
	}

	&__cart {
		position: relative;
	}

	&__filter {
		margin-left: 18px;
		width: 52px;
		height: 52px;
		background-color: $accent-light;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}



@import 'media';