@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	padding: 50px 0 55px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.logo {

	&__img {
		display: inline-block;
		vertical-align: text-bottom;
	}

	&__text {
		@extend %rubik-500;
		font-size: 36px;
		line-height: 58px;
		color: $accent-dark;
		margin-left: 12px;
	}
}
.menu {

	&__list {
		display: flex;
	}

	&__item + .menu__item{
		margin-left: 34px;
	}

	&__link {
		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: $accent-dark;
	}
}
.user-nav {
	display: flex;

	&__search {
		width: 52px;
		height: 52px;
		background-color: #edf1f4;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 21px;
	}

	&__group {
		width: 178px;
		height: 51px;
		padding: 22px 42px 12px;
		background-color: #fcd7b6;
		border-radius: 26px;
		display: flex;
		justify-content: space-between;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 32px;
			opacity: 0.4;
			background-color: #ffffff;
			top: 11px;
			left: 50%;
		}
	}

	&__liked {
		position: relative;
	}

	&__num {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		@extend %dmsans-400;
		font-size: 10px;
		line-height: 27px;
		color: $accent-dark;
		position: absolute;
		top: -7px;
		right: -10px;
	}

	&__cart {
		position: relative;
	}

	&__filter {
		margin-left: 18px;
		width: 52px;
		height: 52px;
		background-color: $accent-light;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.top-slider {

	&__slider {
		background-image: url(../images/top-slider-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	
	&__inner {
		max-width: 1170px;
		margin: 0 auto;
		padding-top: 225px;
	}

	&__item {
		display: flex !important;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__content {
		max-width: 470px;
	}

	&__title {
		@extend %rubik-500;
		font-size: 72px;
		color: $accent-dark;
		margin-bottom: 45px;
	}

	&__text {
		max-width: 370px;
		@extend %rubik-400;
		font-size: 18px;
		line-height: 30px;
		color: $accent-light;
		margin-bottom: 41px;
	}

	&__btn {
		display: inline-block;
		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: #fff;
		background-color: $light-blue;
		padding: 25px 100px 21px 27px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/icons/arrow-btn.svg);
			width: 22px;
			height: 9px;
			top: 26px;
			right: 19px;
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: 207px;
		padding-bottom: 45px;
		li {
			margin: 0 5px;
			button {
				border: none;
				padding: 0;
				@extend %rubik-500;
				font-size: 11px;
				line-height: 8px;
				color: $accent-light;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #fee4cd;
				cursor: pointer;
			}
			&.slick-active {
				button {
					background-color: #fff;
					color: $accent-dark;
				}
			}
		}
	}

	&__descr {
		background-color: #fef7f0;
		padding: 47px 0 49px;
	}

	&__descr-inner {
		display: flex;
		justify-content: space-around;
	}

	&__descr-item {
		max-width: 300px;
		padding-left: 77px;
		position: relative;
	}

	&__descr-title {
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 40px;
		color: #414141;
	}

	&__descr-text {
		@extend %dmsans-400;
		font-size: 16px;
		line-height: 30px;
		color: #585858;
	}

	&__descr-item--support::before {
		content: '';
		position: absolute;
		background-image: url(../images/icons/support.svg);
		background-repeat: no-repeat;
		top: 10px;
		left: 0;
		width: 51px;
		height: 53px;
	}

	&__descr-item--delivery::before {
		content: '';
		position: absolute;
		background-image: url(../images/icons/delivery.svg);
		background-repeat: no-repeat;
		top: 10px;
		left: 0;
		width: 54px;
		height: 36px;
	}

	&__descr-item--payment::before {
		content: '';
		position: absolute;
		background-image: url(../images/icons/payment.svg);
		background-repeat: no-repeat;
		top: 10px;
		left: 0;
		width: 54px;
		height: 52px;
	}
}

.products {
	padding-top: 75px;

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	&__btns {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}

	&__btn + .products__btn {
		margin-left: 30px;
	}

	&__btn {
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		padding-bottom: 185px;
	}

	&__item {
		padding: 40px 20px;
		max-width: 270px;
		min-height: 380px;
		display: flex;
		flex-direction: column;
		position: relative;
		&:hover .products__item-btns {
			opacity: 1;
		}
	}

	&__item-img {
		margin-top: auto;
		margin-bottom: auto;
		align-self: center;
	}

	&__item-title {
		text-align: center;
		@extend %dmsans-500;
		font-size: 16px;
		color: $accent-dark;
	}

	&__item-price {
		text-align: center;
		@extend %dmsans-700;
		font-size: 16px;
		color: $accent-light;
		margin-top: 10px;
	}
	
	&__btns-wrapper {
		position: absolute;
		left: 52px;
		top: 182px;
	}

	&__item-btns {
		opacity: 0;
		transition: all .2s;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 167px;
	}

	&__item-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 0;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #ffffff;
		box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
		cursor: pointer;
		transition: all .3s;
		&:hover path {
			fill: #fff;
		}
		&:hover {
			background-color: $light-blue;
		}
	}
	.mixitup-control-active {
		color: $title;
	}

	&__add-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		grid-column-gap: 30px;
	}

	&__add-item {
		min-height: 390px;
		background-color: #feefe2;
		display: flex;
	}

	&__add-img {
		align-self: center;
		margin-left: 135px;
		margin-top: -180px;
	}

	&__add-content {
		max-width: 400px;
		margin-top: 100px;
		margin-left: 20px;
	}

	&__add-title {
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 32px;
		color: $accent-dark;
		margin-bottom: 15px;
	}

	&__add-text {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
		color: $accent-dark;
		margin-bottom: 25px;
	}

	&__add-link {
		display: inline-block;
		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: #436372;
		border: 1px solid #436372;
		border-radius: 5px;
		background-color: transparent;
		padding: 24px 86px 25px 20px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/icons/arrow-right.svg);
			width: 22px;
			height: 9px;
			top: 26px;
			right: 19px;
		}
	}
	
}

.design {
	padding: 100px 0 120px;

	&__title {
		text-align: center;
		margin-bottom: 30px;
	}

	&__btns {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}

	&__btn + .design__btn {
		margin-left: 30px;
	}

	&__btn {
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
	}

	.mixitup-control-active {
		color: $title;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 34px;
	}
	
	&__item {
		max-width: 370px;
		min-height: 246px;
		padding: 40px 35px;
		background-color: #f8f8f8;
		position: relative;
	}

	&__item-title {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 10px;
		max-width: 185px;
	}

	&__item-subtitle {
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 1.2;
		color: $light-blue;
	}

	&__item-img {
		position: absolute;
		bottom: 30px;
		right: 0;
	}
}

.video {
	background-image: url(../images/video-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__link {
		&:hover path {
			fill: $accent-dark;
		}
	}

}


.footer {
	color: #7b7b7b;
	
	&__top {
		padding: 80px 0 70px;
		display: flex;
		border-bottom: 1px solid #dae4e9;
	}

	&__top-contact {
		width: 200px;
		margin-right: 100px;
		@extend %rubik-400;
		font-size: 14px;
	}

	&__adress {
		line-height: 24px;
		margin-top: 25px;
		margin-bottom: 23px;
	}

	&__tel {
		display: inline-block;
		text-transform: uppercase;
		line-height: 32px;
		color: inherit;
	}

	&__mail {
		display: inline-block;
		color: inherit;
	}

	&__top-services,
	&__top-account {
		width: 170px;
		margin-right: 130px;
	}

	&__title {
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 21px;
		text-transform: uppercase;
		color: #1f2044;
		margin: 25px 0;
	}
	
	&__services-link,
	&__account-link {
		@extend %rubik-400;
		font-size: 14px;
		line-height: 32px;
		color: #7b7b7b;
	}

	&__top-news {
		width: 270px;
	}

	&__news-text {
		line-height: 24px;
		margin-bottom: 38px;
	}

	&__news-form {
		display: flex;
		align-items: center;
		@extend %rubik-400;
		font-size: 14px;
		line-height: 21px;
	}

	&__form-input {
		width: 170px;
		border: none;
		padding: 14px 16px;
		background-color: #fef7f0;
		color: $accent-dark;
		&::placeholder {
			color: $accent-dark;
		}
	}

	&__form-btn {
		width: 100px;
		border: none;
		padding: 14px 16px;
		background-color: $light-blue;
		color: #fff;
		cursor: pointer;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 37px 0 39px;
	}

	&__bottom-list {
		display: flex;
	}

	&__bottom-item + .footer__bottom-item{
		padding-left: 14px;
		margin-left: 14px;
		border-left: 1px solid #7b7b7b;
	}

	&__bottom-link {
		color: inherit;
	}

}

@import 'media';